 @font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('../fonts/HelveticaLTStd-Light.otf');
 }


.footer-section {
	background-color: #324099;
	padding: 25px 0px 15px;
	color: white;
}
.footer-section p {
	font-family: 'HelveticaLTStd-Light';
}

.footer-section i {
	color: white;
	padding: 0px 10px;
	font-size: 15px;
	text-align: right;
}

.hover_btn:hover {
	border: solid 2px #324099 !important;
	background: white !important;
	color: #324099;
}


@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
 	.footer-section p{
 		text-align: center;
 	}   
 	.footer-section i {
 		display: none;
 	}
}