.horizontal-section {
    padding: 0px 0px 40px; 
}
div.horizontal {
  display: block;
  width: 100%;
  height: 300px;
  overflow: auto;
}
div.horizontal .table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
div.horizontal .table article {
  width: 400px;
  height: 400px;
  display: table-cell;
}
div.horizontal .table .article-1 {
  width: 400px;
  height: 400px;
  display: table-cell;
}

header#pageheader {
  /*line-height: 96px;*/
  /*padding-left: 24px;*/
}
.horizontal-track2 {
  width: 100%;
  height: 12px !important;
  background: white;
  border-radius: 10px;
}
.horizontal-handle2 {
  height: 12px;
  background: #324099;
  width: 10% !important;
  border-radius: 10px;
}
.horizontal-handle2 .left {
  display: none;
}
.horizontal-handle2 .right {
  display: none;
}
