/*Fonts*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf');
 }

@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../fonts/HelveticaLTStd-Bold.otf');
 }

 @font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('../fonts/HelveticaLTStd-Light.otf');
 }

 @font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
 }

body {
  font-family: 'HelveticaLTStd-Light';
}
.no-padding {
    padding: 0px;
}

/*==========================================*/
/*First Section*/
.section_1_international {
  padding: 30px 0px;
}

.section_1_international img {
  width: 120px;
}

.section_1_international h5 {
  color: #324099;
  font-size: 20px;
  font-family: 'HelveticaLTStd-Bold';
}
.section_1_international p {
  color: #929497;
  font-size: 15px;
}
/*
** Header
*/
.header-section {
  background-image: url('../img/backgorund/services_bg-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8%;
  padding: 70px 0px;
  height: 400px;
}
.header_panel_section {
  padding: 30px;
  background: rgba(50, 64, 153, 0.88);
}
.header_panel_section h4 {
  color: white;
  font-family: 'Montserrat-Bold';
  font-size: 28px;
}
.header_panel_section span {
  color: white;
  font-size: 20px;
}
.header_panel_section p {
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.69);
}
/*=================================*/


/*Galery Section*/
.my-gallery  {
  padding: 30px 0px;  
  /*overflow: hidden;*/
}
.galery_image {  
  overflow: hidden;
}
.galery_image img {
  width: 100%;
  transition: all 0.5s;
}

.galery_image img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.5);
  }