/*Fonts*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf');
 }

@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../fonts/HelveticaLTStd-Bold.otf');
 }

 @font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('../fonts/HelveticaLTStd-Light.otf');
 }

 @font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
 }

body {
  font-family: 'HelveticaLTStd-Light';
}
.no-padding {
    padding: 0px;
}

/*==========================================*/

/*
** Header
*/
.header-section {
  background-image: url('../img/backgorund/company_bg_1-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 7%;
  padding: 70px 0px;
}
.header_panel_section {
  padding: 30px;
  background: rgba(50, 64, 153, 0.88);
}
.header_panel_section img {
  width: 120px;
}
.header_panel_section h4 {
  color: white;
  font-size: 30px;
  font-family: 'Montserrat-Bold';
}
.header_panel_section span {
  color: white;
  font-size: 30px;
  font-family: 'HelveticaLTStd-Light';
}
.header_panel_section p {
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.69);
}
.header-logo-services {
  width: 120px !important;
}

/*Second Seciton Icons*/
.icons-section-big {
  padding: 20px 0px;
}
.icons-section-header-title {
  text-align: center;
}
.icons-section-header-title h4 {
  font-size: 20px;
  color: #324099;
  font-family: 'Montserrat-Bold';  
}
.icons-section-header-title span {
  color: #929497;
  font-size: 20px;
  font-family: 'HelveticaLTStd-Light';
}
.icons-section-big {
  padding: 30px 0px;
}
.icon-section-text {
  text-align: center;
  margin: 10px 0px;
}

.icon-section-text h4 {
  font-size: 20px;
  color: #324099;
  font-family: 'Montserrat-Bold';
}
.icon-section-text p {
    font-size: 15px;
    padding-top: 15px;
    color: #929497;
}
.icon-section-text button {
  margin-top: 20px;
  background: #324099;
  border: none;
  color: white;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  padding: 7px 12px;
  border: solid 2px #324099;
  transition: ease all 0.3s;
}


/*Section 3*/

.section_3 {
  padding: 50px 0px;
}
.section_3-text h4 {
  font-size: 20px;
  color: #324099;
  font-family: 'Montserrat-Bold';
}
.section_3-text h4 span {
  color: #929497;
  font-family: 'HelveticaLTStd-Light';
}
.section_3-text p {
  font-size: 15px;
  padding-top: 20px;
  color: #929497;
}
.section_3-text button {
  margin-top: 20px;
  background: #324099;
  border: none;
  color: white;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  padding: 7px 12px; 
  border: solid 2px #324099;
  transition: ease all 0.3s;
}
.section_3-image img {
  width: 100%;
}

/*Section 4 */
.section_4 {
  padding: 10px 0px;
}
.section_4 .owl-carousel {
  padding-top: 30px;
}
.section_4 .owl-carousel .item {
  text-align: center;
}
.owl-controls {
  display: none !important;
}


/*Section 5*/
.section_5-panel-top {
  padding: 40px 0px;
}
.section_5-panel {
  box-shadow: 0.81px 0.81px 8.11px rgba(0, 0, 0, 0.07);
}
.section_5-panel-2 { 
}
.section_5-panel img {
  width: 100%;
}
.section_5-panel-text {
  padding: 20px 50px 10px 50px;
}
.section_5-panel-text h3 {
  font-family: 'Montserrat-Bold';
}
.section_5-panel-text h3 span {
  font-family: 'HelveticaLTStd-Light';
}

.section_5-panel-text h4 {
  font-family: 'HelveticaLTStd-Bold';
  font-size: 15px;
}

.section_5-panel-text p {
  font-family: 'HelveticaLTStd-Light';
  color: #929497;
}

.section_5-panel-text button {
    margin-top: 20px;
  background: #324099;
  border: none;
  color: white;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  padding: 10px;
  width: 150px;
  border: solid 2px #324099;
  transition: ease all 0.3s;

}
.section_5-panel-text .btn2 {  
  background: #929497;
  border: solid 2px #929497;
  transition: ease all 0.3s;
}




/*
**Section Section
*/
.contact-section {
  padding: 40px 20px;
}
.input-g {
  padding: 0px 3px;
}
.scond-section-contact h4 {
    font-size: 20px;
  font-family: 'Montserrat-Bold';
}
.scond-section-contact input{
  width: 100%;
  border: #b3b3b3 solid 1px;
  border-radius: 4px;
  padding: 15px;
  margin: 7px 0px;
}

.scond-section-contact textarea {
    width: 100%;
  border: #b3b3b3 solid 1px;
  border-radius: 4px;
  padding: 15px;
  margin: 7px 0px;
  margin-top: 12px;
}

.scond-section-contact button {
  background: #324099;
  color: white;
  width: 100%;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  padding: 10px 20px;
  margin-top: 14px;
  border: none;
  border-radius: 4px;
  height: 40px;
  border: solid 2px #324099;
  transition: ease all 0.3s;
}

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
    .icon-section-text h4 {
      font-size: 11px;
    }
    .icon-section-text p {
      font-size: 11px;
    }
    .section_3-image {
      margin-top: 20px;
      padding: 0px;
    }
    .section_3 {
      padding: 0px;
    }
    .owl-controls {
      display: none !important;
    }
    .section_5-panel-text button {
      width: 100%;
    }
}
