/*Fonts*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf');
 }

@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../fonts/HelveticaLTStd-Bold.otf');
 }

 @font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('../fonts/HelveticaLTStd-Light.otf');
 }

 @font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
 }

body {
  font-family: 'HelveticaLTStd-Light';
}
.no-padding {
    padding: 0px;
}

/*==========================================*/
/*First Section*/
.section_1_international {
  padding: 30px 0px;
}

.section_1_international img {
  width: 120px;
}

.section_1_international h5 {
  color: #324099;
  font-size: 20px;
  font-family: 'HelveticaLTStd-Bold';
}
.section_1_international p {
  color: #929497;
  font-size: 15px;
}
.section_1_international span {
  color: #929497 !important;
  font-family: 'HelveticaLTStd-Light';
}

/*
** Header
*/
.header-section {
  background-image: url('../img/backgorund/services_bg-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8%;
  padding: 70px 0px;
  height: 400px;
}
.header_panel_section {
  padding: 30px;
  background: rgba(50, 64, 153, 0.88);
}
.header_panel_section h4 {
  color: white;
  font-family: 'Montserrat-Bold';
  font-size: 28px;
}
.header_panel_section span {
  color: white;
  font-size: 20px;
}
.header_panel_section p {
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.69);
}
/*=================================*/


/*Galery Section*/
.selection-1 {
  padding: 0px 0px 30px;
}
.galery_image {  
  overflow: hidden;
  margin: 10px 0px; 
}
.galery_image img {
  width: 100%;
  transition: all 0.5s;
}

.galery_image img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}  

div.wrapper{
  float:left; /* important */
  position:relative; /* important(so we can absolutely position the description div */
  height: 300px;
}

div.description{
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:0px; /* position will be on bottom */
  left:0px;
  width:100%;
  /* styling bellow */
  background-color:black;
  color:white;
  opacity:0.8; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
}

.description h2 {
  padding-left: 10px;
  font-family: 20px;
  font-size: 20px; 
}

p.description_content{
  padding: 0px 10px 20px;
  margin:0px;
  font-size: 12px;
  font-family: 'HelveticaLTStd-Light';
}



@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
    .description h2 {
      font-size: 15px;
    }
    p.description_content{
      font-size: 9px;
    }
}