/*Fonts*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf');
 }

@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../fonts/HelveticaLTStd-Bold.otf');
 }

 @font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('../fonts/HelveticaLTStd-Light.otf');
 }

 @font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

 @font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
 }

body {
  font-family: 'HelveticaLTStd-Light';
}
.no-padding {
    padding: 0px;
}

/*
** First Section there
*/

.social-res-section {
  padding: 40px 0px;
}

.social-res-section img {
  width: 100%;
}

.social-res-section h4 {
    padding: 10px;
    font-size: 20px;
    color: #324099;
    font-family: 'Montserrat-Bold';
}


.social-res-section p {
    font-size: 15px;
    padding: 10px 10px;
    color: #929497;
}

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }
}